#root, form {
    
}
.node-add-btn {
    display: none;
    border-radius: 50%;
    background: #fff;
}
.node-add {
    // position: absolute;
    // vertical-align: middle;
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100%;
    // overflow: scroll;
    .node-item {
        position: absolute;
    }
}
.node-add:hover {
    .node-add-btn {
        display: inline;
    }
}
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.node-operate {
    visibility: hidden;
}
.node-item:hover {
    .node-operate {
        visibility: visible;
    }
}
.node-item div {
    display: flex;
    justify-content: center;
}
.node-input-area {
    display: flex;
    flex-direction: column;
}
.node-input-area div {
    display: inline;
}
.node-input {
    width: 100px;
    text-align: center;
}
.node-number .node-input {
    width: 50px;
}

div.node-root {
    // display: 
}